$bg-color-lb: #84c4e8;
$bg-color-pink: #eb8b8d;
$bg-color-white: #fbfbfb;
$bg-color-wsmoke: whitesmoke;
$bg-color-wht: #25d366;

$border-white: white;
$border-blue: #1764bd;
$border-lb: #0496eb;
$border-green: #85f101;


$full-size: 100%;
$ter-size: 75%;
$mid-size: 50%;
$cuart-size: 25%;


